Embebido/flows.json
[
    {
        "id": "api_tab",
        "type": "tab",
        "label": "HTTP API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "979efe57d89b88fc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "309d04dc3464f1b5",
        "type": "mqtt-broker",
        "d": true,
        "name": "Ngrok Server",
        "broker": "0.tcp.sa.ngrok.io",
        "port": "11884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "73755068f3bfb81c",
        "type": "mqtt-broker",
        "name": "MosquittoEC2",
        "broker": "mosquitto_broker",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "http_in_accel",
        "type": "http in",
        "z": "api_tab",
        "name": "GET /accel",
        "url": "/accel",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "fn_set_query"
            ]
        ]
    },
    {
        "id": "fn_set_query",
        "type": "function",
        "z": "api_tab",
        "name": "Set query",
        "func": "msg.payload = {                                                                                                                                                                                                          \n    db: 'sensores_db',                                                                                                                                                                                                     \n    q: \"SELECT * FROM datos_sensores WHERE topic = 'alarma/acel' ORDER BY time DESC LIMIT 20\",                                                                                                                            \n    format: 'json'                                                                                                                                                                                                         \n  };                                                                                                                                                                                                                       \n  msg.headers = {                                                                                                                                                                                                          \n    'Content-Type': 'application/json'                                                                                                                                                                                     \n  };                                                                                                                                                                                                                       \n  return msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 120,
        "wires": [
            [
                "http_req_influx"
            ]
        ]
    },
    {
        "id": "http_req_influx",
        "type": "http request",
        "z": "api_tab",
        "name": "Query InfluxDB v3",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://influxdb3-core:8181/api/v3/query_sql",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 120,
        "wires": [
            [
                "http_res"
            ]
        ]
    },
    {
        "id": "http_res",
        "type": "http response",
        "z": "api_tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 120,
        "wires": []
    },
    {
        "id": "9bfa26aa9cc0078f",
        "type": "http in",
        "z": "api_tab",
        "name": "GET /state",
        "url": "/state",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "ddaff4677a7733ef"
            ]
        ]
    },
    {
        "id": "ddaff4677a7733ef",
        "type": "function",
        "z": "api_tab",
        "name": "Set query",
        "func": "msg.payload = {                                                                                                                                                                                                          \n    db: 'sensores_db',                                                                                                                                                                                                     \n    q: \"SELECT * FROM datos_sensores WHERE topic = 'alarma/estado' ORDER BY time DESC LIMIT 1\",                                                                                                                            \n    format: 'json'                                                                                                                                                                                                         \n  };                                                                                                                                                                                                                       \n  msg.headers = {                                                                                                                                                                                                          \n    'Content-Type': 'application/json'                                                                                                                                                                                     \n  };                                                                                                                                                                                                                       \n  return msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 220,
        "wires": [
            [
                "cc9a8d8eba7384a2"
            ]
        ]
    },
    {
        "id": "cc9a8d8eba7384a2",
        "type": "http request",
        "z": "api_tab",
        "name": "Query InfluxDB v3",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://influxdb3-core:8181/api/v3/query_sql",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 220,
        "wires": [
            [
                "f257a79fe39322bd",
                "3c662e4567ec8586"
            ]
        ]
    },
    {
        "id": "f257a79fe39322bd",
        "type": "http response",
        "z": "api_tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 220,
        "wires": []
    },
    {
        "id": "3c662e4567ec8586",
        "type": "debug",
        "z": "api_tab",
        "name": "debug GET /state",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 300,
        "wires": []
    },
    {
        "id": "d7e36a8b5babfc03",
        "type": "mqtt in",
        "z": "979efe57d89b88fc",
        "name": "",
        "topic": "alarm/state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73755068f3bfb81c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 680,
        "y": 280,
        "wires": [
            [
                "26626878f9af65e5",
                "4d3504139211cf83"
            ]
        ]
    },
    {
        "id": "26626878f9af65e5",
        "type": "debug",
        "z": "979efe57d89b88fc",
        "name": "debug alarm/state",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 320,
        "wires": []
    },
    {
        "id": "73a1797839771311",
        "type": "mqtt in",
        "z": "979efe57d89b88fc",
        "name": "",
        "topic": "alarm/accel",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73755068f3bfb81c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 670,
        "y": 380,
        "wires": [
            [
                "58315345be0d32b8",
                "f622d4ccc51782cd"
            ]
        ]
    },
    {
        "id": "58315345be0d32b8",
        "type": "debug",
        "z": "979efe57d89b88fc",
        "name": "debug alarm/accel",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 420,
        "wires": []
    },
    {
        "id": "3b091de53c844138",
        "type": "mqtt in",
        "z": "979efe57d89b88fc",
        "name": "",
        "topic": "alarm/event",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73755068f3bfb81c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 650,
        "y": 120,
        "wires": [
            [
                "c481c290d6ab5d0c",
                "151f133a7385407c"
            ]
        ]
    },
    {
        "id": "c481c290d6ab5d0c",
        "type": "debug",
        "z": "979efe57d89b88fc",
        "name": "debug alarm/event",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 140,
        "wires": []
    },
    {
        "id": "d11c692b36265ab6",
        "type": "mqtt out",
        "z": "979efe57d89b88fc",
        "name": "",
        "topic": "alarm/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73755068f3bfb81c",
        "x": 1000,
        "y": 540,
        "wires": []
    },
    {
        "id": "fe2d6c3321a63324",
        "type": "mqtt in",
        "z": "979efe57d89b88fc",
        "name": "",
        "topic": "alarm/acelerometer_sens",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73755068f3bfb81c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 700,
        "wires": [
            [
                "a287f3a74c6583ff"
            ]
        ]
    },
    {
        "id": "a287f3a74c6583ff",
        "type": "function",
        "z": "979efe57d89b88fc",
        "name": "function 1",
        "func": "\nconst threshold = 10.3 - (msg.payload * 0.1);\nreturn {payload: threshold};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 700,
        "wires": [
            [
                "2fdf8b8d7ae8ab4a",
                "9b5b12ce1514f81a"
            ]
        ]
    },
    {
        "id": "2fdf8b8d7ae8ab4a",
        "type": "mqtt out",
        "z": "979efe57d89b88fc",
        "name": "",
        "topic": "alarm/sensitivity",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73755068f3bfb81c",
        "x": 840,
        "y": 700,
        "wires": []
    },
    {
        "id": "6addf687a458e573",
        "type": "mqtt in",
        "z": "979efe57d89b88fc",
        "name": "",
        "topic": "alarm/arm_dsrm",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73755068f3bfb81c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 540,
        "wires": [
            [
                "c08df66c16f20e36"
            ]
        ]
    },
    {
        "id": "c08df66c16f20e36",
        "type": "function",
        "z": "979efe57d89b88fc",
        "name": "function 2",
        "func": "// 1. Leemos el estado actual de la variable \"estadoAlarma\".\n// Si es la primera vez y todavía no existe, le asignamos \"DISARM\" por defecto.\nlet estadoActual = flow.get(\"estadoAlarma\") ?? \"DISARM\";\n\n// 2. Definimos el nuevo estado invirtiendo el valor actual\nlet nuevoEstado;\nif (estadoActual === \"ARM\") {\n    nuevoEstado = \"DISARM\";\n} else {\n    nuevoEstado = \"ARM\";\n}\n\n// 3. Guardamos el nuevo string en el contexto de flujo para la próxima vez\nflow.set(\"estadoAlarma\", nuevoEstado);\n\n// 4. Modificamos el msg.payload con el nuevo estado (\"ARM\" o \"DISARM\") \n// para que los nodos que siguen (como un envío MQTT de vuelta) lo usen\nmsg.payload = nuevoEstado;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 540,
        "wires": [
            [
                "d11c692b36265ab6",
                "fdfa5d60ecd9b7c4"
            ]
        ]
    },
    {
        "id": "f622d4ccc51782cd",
        "type": "mqtt out",
        "z": "979efe57d89b88fc",
        "name": "",
        "topic": "alarma/acel",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73755068f3bfb81c",
        "x": 1170,
        "y": 380,
        "wires": []
    },
    {
        "id": "cf91b36c60f49451",
        "type": "mqtt out",
        "z": "979efe57d89b88fc",
        "name": "",
        "topic": "alarma/evento",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73755068f3bfb81c",
        "x": 1280,
        "y": 60,
        "wires": []
    },
    {
        "id": "8b790ee2e9badd07",
        "type": "mqtt out",
        "z": "979efe57d89b88fc",
        "name": "",
        "topic": "alarma/estado",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73755068f3bfb81c",
        "x": 1260,
        "y": 180,
        "wires": []
    },
    {
        "id": "4d3504139211cf83",
        "type": "function",
        "z": "979efe57d89b88fc",
        "name": "function 3",
        "func": "let estado = msg.payload\nmsg.payload = {\"estado\": estado}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 240,
        "wires": [
            [
                "8b790ee2e9badd07"
            ]
        ]
    },
    {
        "id": "151f133a7385407c",
        "type": "function",
        "z": "979efe57d89b88fc",
        "name": "function 4",
        "func": "let evento = msg.payload\nmsg.payload = {\"evento\": evento}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 60,
        "wires": [
            [
                "cf91b36c60f49451"
            ]
        ]
    },
    {
        "id": "fdfa5d60ecd9b7c4",
        "type": "debug",
        "z": "979efe57d89b88fc",
        "name": "debug alarm/arm_dsrm",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 620,
        "wires": []
    },
    {
        "id": "9b5b12ce1514f81a",
        "type": "debug",
        "z": "979efe57d89b88fc",
        "name": "debug alarm/aceletometer_sens",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 780,
        "wires": []
    }
]