Embebido/flows.json
[{"id":"api_tab","type":"tab","label":"HTTP API","disabled":false,"info":"","env":[]},{"id":"http_in_accel","type":"http in","z":"api_tab","name":"GET /accel","url":"/accel","method":"get","upload":false,"swaggerDoc":"","x":150,"y":120,"wires":[["fn_set_query"]]},{"id":"fn_set_query","type":"function","z":"api_tab","name":"Set query","func":"msg.payload = {\n  db: 'sensores_db',\n  q: 'SELECT * FROM datos_sensores ORDER BY time DESC LIMIT 20',\n  format: 'json'\n};\nmsg.headers = {\n  'Content-Type': 'application/json'\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":120,"wires":[["http_req_influx"]]},{"id":"http_req_influx","type":"http request","z":"api_tab","name":"Query InfluxDB v3","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://influxdb3-core:8181/api/v3/query_sql","tls":"","persist":false,"proxy":"","x":560,"y":120,"wires":[["http_res"]]},{"id":"http_res","type":"http response","z":"api_tab","name":"","statusCode":"","headers":{},"x":910,"y":120,"wires":[]},{"id":"979efe57d89b88fc","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"d7e36a8b5babfc03","type":"mqtt in","z":"979efe57d89b88fc","name":"","topic":"alarm/state","qos":"2","datatype":"auto-detect","broker":"309d04dc3464f1b5","nl":false,"rap":true,"rh":0,"inputs":0,"x":680,"y":280,"wires":[["26626878f9af65e5","8b790ee2e9badd07"]]},{"id":"26626878f9af65e5","type":"debug","z":"979efe57d89b88fc","name":"debug 1","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":320,"wires":[]},{"id":"73a1797839771311","type":"mqtt in","z":"979efe57d89b88fc","name":"","topic":"alarm/accel","qos":"2","datatype":"auto-detect","broker":"309d04dc3464f1b5","nl":false,"rap":true,"rh":0,"inputs":0,"x":670,"y":380,"wires":[["58315345be0d32b8","f622d4ccc51782cd"]]},{"id":"58315345be0d32b8","type":"debug","z":"979efe57d89b88fc","name":"debug 2","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":420,"wires":[]},{"id":"3b091de53c844138","type":"mqtt in","z":"979efe57d89b88fc","name":"","topic":"alarm/event","qos":"2","datatype":"auto-detect","broker":"309d04dc3464f1b5","nl":false,"rap":true,"rh":0,"inputs":0,"x":670,"y":460,"wires":[["c481c290d6ab5d0c","cf91b36c60f49451"]]},{"id":"c481c290d6ab5d0c","type":"debug","z":"979efe57d89b88fc","name":"debug 3","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":500,"wires":[]},{"id":"d11c692b36265ab6","type":"mqtt out","z":"979efe57d89b88fc","name":"","topic":"alarm/command","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"309d04dc3464f1b5","x":1000,"y":540,"wires":[]},{"id":"12afd073f805e9a0","type":"mqtt out","z":"979efe57d89b88fc","name":"","topic":"alarm/melody","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"309d04dc3464f1b5","x":1000,"y":740,"wires":[]},{"id":"25ad52a6cfdfa35c","type":"inject","z":"979efe57d89b88fc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"alarm/melody","payload":"STARWARS","payloadType":"str","x":670,"y":680,"wires":[["12afd073f805e9a0"]]},{"id":"b0db8f26cc090885","type":"inject","z":"979efe57d89b88fc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"alarm/melody","payload":"NOKIA","payloadType":"str","x":660,"y":720,"wires":[["12afd073f805e9a0"]]},{"id":"e0355f2c97af2fe9","type":"inject","z":"979efe57d89b88fc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"alarm/melody","payload":"TETRIS","payloadType":"str","x":660,"y":800,"wires":[["12afd073f805e9a0"]]},{"id":"9930f98a7f337e5a","type":"inject","z":"979efe57d89b88fc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"alarm/melody","payload":"MARIO","payloadType":"str","x":660,"y":760,"wires":[["12afd073f805e9a0"]]},{"id":"fe2d6c3321a63324","type":"mqtt in","z":"979efe57d89b88fc","name":"","topic":"alarm/acelerometer_sens","qos":"2","datatype":"auto-detect","broker":"309d04dc3464f1b5","nl":false,"rap":true,"rh":0,"inputs":0,"x":630,"y":920,"wires":[["a287f3a74c6583ff"]]},{"id":"a287f3a74c6583ff","type":"function","z":"979efe57d89b88fc","name":"function 1","func":"\nconst threshold = 10.3 - (msg.payload * 0.1);\nreturn threshold;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":920,"wires":[["2fdf8b8d7ae8ab4a"]]},{"id":"2fdf8b8d7ae8ab4a","type":"mqtt out","z":"979efe57d89b88fc","name":"","topic":"alarm/sensitivity","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"309d04dc3464f1b5","x":1120,"y":920,"wires":[]},{"id":"6addf687a458e573","type":"mqtt in","z":"979efe57d89b88fc","name":"","topic":"alarm/arm_dsrm","qos":"2","datatype":"auto-detect","broker":"309d04dc3464f1b5","nl":false,"rap":true,"rh":0,"inputs":0,"x":340,"y":540,"wires":[["c08df66c16f20e36"]]},{"id":"c08df66c16f20e36","type":"function","z":"979efe57d89b88fc","name":"function 2","func":"// 1. Leemos el estado actual de la variable \"estadoAlarma\".\n// Si es la primera vez y todavía no existe, le asignamos \"DISARM\" por defecto.\nlet estadoActual = flow.get(\"estadoAlarma\") ?? \"DISARM\";\n\n// 2. Definimos el nuevo estado invirtiendo el valor actual\nlet nuevoEstado;\nif (estadoActual === \"ARM\") {\n    nuevoEstado = \"DISARM\";\n} else {\n    nuevoEstado = \"ARM\";\n}\n\n// 3. Guardamos el nuevo string en el contexto de flujo para la próxima vez\nflow.set(\"estadoAlarma\", nuevoEstado);\n\n// 4. Modificamos el msg.payload con el nuevo estado (\"ARM\" o \"DISARM\") \n// para que los nodos que siguen (como un envío MQTT de vuelta) lo usen\nmsg.payload = nuevoEstado;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":540,"wires":[["d11c692b36265ab6"]]},{"id":"f622d4ccc51782cd","type":"mqtt out","z":"979efe57d89b88fc","name":"","topic":"alarma/acel","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"309d04dc3464f1b5","x":1170,"y":380,"wires":[]},{"id":"cf91b36c60f49451","type":"mqtt out","z":"979efe57d89b88fc","name":"","topic":"alarma/evento","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"309d04dc3464f1b5","x":1180,"y":460,"wires":[]},{"id":"8b790ee2e9badd07","type":"mqtt out","z":"979efe57d89b88fc","name":"","topic":"alarma/estado","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"309d04dc3464f1b5","x":1180,"y":280,"wires":[]},{"id":"309d04dc3464f1b5","type":"mqtt-broker","name":"Ngrok Server","broker":"0.tcp.sa.ngrok.io","port":"29379","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]